<section class="my-3 py-3">

    <div class="container">

        <div class="head-title text-center position-relative d-flex justify-content-center align-items-center my-2 py-3">
            <h3 class=" mb-0">A</h3>
            <h2 class=" position-absolute py-3 ">About Us</h2>
        </div>

    

        <div class="row">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

            <div class="about-image">
                <img src="../../../assets/about/pexels-karolina-grabowska-5632379.jpg" class="w-100" alt="">
            </div>
      
            </div>
            
            <!--  -->

            
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

                <div class="content">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tempora aspernatur nihil minima
                        exercitationem ea dolore quas numquam, quis doloremque sit, consectetur quibusdam dicta ducimus
                        animi? Reprehenderit quia quasi at et, amet est dolorem ab fugiat dolore, tenetur totam. Quaerat
                        odio consectetur, ipsum, delectus ut laboriosam asperiores ab voluptas iusto error architecto autem,
                        sint beatae eius ipsam voluptates minus voluptatibus natus inventore eum et placeat vel enim. Minima
                        quasi reiciendis sunt dolorem adipisci vitae sint deleniti non quia? Inventore fuga, ipsum aperiam
                        ullam libero qui minima repudiandae pariatur! Vel ipsam laborum pariatur iusto libero, iste voluptas
                        officiis assumenda doloribus non.
                    </p>
                </div>
                </div>
        </div>
    </div>


</section>