
header
{
    background-image: url(../../../assets/background/pexels-pixabay-35550.jpg);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
}
.layer
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

h1
{
    font-size: 55px;
}

h1 span
{
    color: #3871B9;
}

.content-img img
{
    height: 220px;
    border-radius: 15px;
}

.card
{
    border-radius: 15px;
    border: solid #3871B9 1px;
    color: black;
}

.card button
{
    border-radius: 25px;
    border: #3871B9 solid 1px;
}

.card button:hover
{
    color: #fff;
    background-color: #3871B9;
    transition-duration: 0.5s;
}

.head-title h2
{
    color: #3871B9;
    font-size: 38px;
    font-weight: 700;
}

.head-title h3
{
    font-size:70px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3b434a23;
}

.head-title h2::after
{
    content: "";
    border-bottom:  solid 3px;
    position: absolute;
    width: 70px;
    color: #3871B9;
    bottom: 0;
    left: 75px;    
    height: 3px;
}

/*   */

.head-title-2 h2
{
    color: #3871B9;
    font-size: 38px;
    font-weight: 700;
}

.head-title-2 h3
{
    font-size:70px;
    font-weight: 900;
    text-transform: uppercase;
    color: #3b434a23;
}

.head-title-2 h2::after
{
    content: "";
    border-bottom:  solid 3px;
    position: absolute;
    width: 70px;
    color: #3871B9;
    bottom: 0;
    left: 100px;    
    height: 3px;
}

.product
{
    border-radius: 26px;
    background-color: #fff;
    border: #3871B9 solid 1px;
}