/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


body
{
    background-color: rgba(0, 0, 0, 0.081);
    font-family: 'Montserrat Alternates', sans-serif;
}

a
{
    text-decoration: none;
    font-size: 18px;
}

a:hover
{
    
    text-decoration: none;
    font-size: 18px;
}
